.a 
{
    border-radius: 5px 0 0 5px;
}
.b 
{
    border-radius: 0 5px 5px 0;
}
.c
{
    background: #4570B6 !important;
}
.list-group-item img 
{
    width: 20px;
   padding-right: 9px;
}
.box 
{
    height: 240px;
    overflow: hidden;
}
.box-c , .box img 
{
    transition: 0.9s;
}
.box:hover .box-c 
{
    transform: translateY(-90px);
}
.box:hover img 
{
    transform: scale(1.2);
}